html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

footer {
  position: relative;
  width: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.section {
  height: 100vh;
}

@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lifehack";
  src: url("./../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("./../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gagalin";
  src: url("./../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("./../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container.container--welcome {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 5%;
}
.container.container--we {
  padding-bottom: 12%;
}
@media screen and (max-width: 480px) {
  .container.container--we {
    padding-bottom: 7%;
  }
}
.container.container--delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  padding-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin-right: 0.9375rem;
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.9375rem;
}
.menu__item:first-child:before {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}
.menu__link {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
}

.logo__icon {
  width: 5.75rem;
  height: 4.3125rem;
}

.welcome {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../img/bg/bg_welcome.png);
}

.welcome__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8%;
}
@media screen and (max-width: 768px) {
  .welcome__content {
    -webkit-box-flex: 0.9;
        -ms-flex: 0.9;
            flex: 0.9;
    width: 62%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .welcome__content {
    width: 80%;
  }
}

.welcome__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
  margin-top: 4.375rem;
}
@media screen and (max-width: 768px) {
  .welcome__content-title {
    margin-top: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.welcome__desc {
  font-family: "lifehack", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.0625rem;
  line-height: 0.92;
  letter-spacing: -0.10125rem;
  color: #fff;
  margin-top: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .welcome__desc {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .welcome__desc {
    font-size: 3.125rem;
  }
}

.welcome__content-pic {
  margin-right: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .welcome__content-pic {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .welcome__content-pic, .welcome__content-title {
    width: 100%;
  }
}

.arrow-scroll {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  display: block;
  width: 1.8125rem;
  height: 0.875rem;
  margin: 0 auto;
  background: url(./../img/icons/arrow_scroll.png) center/cover no-repeat;
}

.we-best {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../img/bg/bg_we.png);
}
@media screen and (max-width: 768px) {
  .we-best {
    background-image: url(./../../img/bg/bg_we_tablet.png);
  }
}

.we-best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 480px) {
  .we-best__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.we-best__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .we-best__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.875rem;
  }
}

.we-best__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5.9375rem;
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 480px) {
  .we-best__pic {
    min-width: 5.9375rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  .we-best__description {
    text-align: left;
    margin-left: 1.5625rem;
  }
}

.we-best__header {
  font-family: "lifehack", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  color: #2f3234;
  margin-bottom: 1.5625rem;
  letter-spacing: -0.0375rem;
  line-height: 1.17;
}
@media screen and (max-width: 480px) {
  .we-best__header {
    margin-bottom: 0.9375rem;
  }
}

.we-best__text {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.8;
  color: rgba(47, 50, 52, 0.8);
}

.btn {
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
}
.btn--header {
  background-color: #e45028;
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media screen and (max-width: 768px) {
  .btn--header {
    margin-right: 5.625rem;
  }
}
.btn--header:hover {
  background-color: #c1401e;
}
.btn--reviews {
  background-color: rgba(47, 50, 52, 0.8);
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn--reviews:hover {
  background-color: #2f3234;
}
.btn--order {
  background-color: #e45028;
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
}
.btn--order:hover {
  background-color: #c1401e;
}

.clear {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  margin-left: 0.3125rem;
}

.reviews-container {
  height: 100%;
}

.reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.reviews-item {
  width: 25%;
  height: 50%;
  position: relative;
}
.reviews-item:hover .rewiews-description {
  opacity: 1;
  z-index: 2;
}

.reviews-pic {
  width: 100%;
  height: 100%;
}

.reviews-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.rewiews-description {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(20, 20, 20, 0.7);
}

.reviews-title {
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 1.875rem;
}

.reviews-text {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.71;
}

.points {
  position: fixed;
  top: 5.625rem;
  right: 3.125rem;
}

.points-item {
  margin-bottom: 0.3125rem;
}

.points-link {
  display: block;
  width: 1rem;
  height: 1rem;
  position: relative;
}
.points-link:after, .points-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.points-link:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.points-link:after {
  border: 1px solid #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.points-link:hover:after {
  opacity: 1;
}

.points-item--active .points-link:after {
  opacity: 1;
}

.delivery {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../img/bg/bg_delivery.png);
  width: 100%;
}

.section-title--delivery {
  margin-bottom: 2.8125rem;
}

.form-wrapper {
  width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__column:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__block-title {
  margin-bottom: 0.4375rem;
}

.form-field {
  font-weight: 300;
  color: #2f3234;
  width: 100%;
  background: #fff;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  outline: none;
  border: 2px solid #d1cfcb;
}
.form-field:focus {
  border: 2px solid #f9b43b;
}

.form__textarea {
  resize: none;
  outline: none;
  height: 7.375rem;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__block-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
}

.radio__visible {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e35028;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.radio:checked + .radio__visible:before {
  opacity: 1;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.checkbox__visible {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  position: relative;
  margin-right: 0.625rem;
}
.checkbox__visible:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("./../img/icons/checkbox.png") center no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.checkbox:checked + .checkbox__visible:before {
  opacity: 1;
}

.form__row-btn {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section-title {
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.5rem;
  color: #f9b43b;
  line-height: 0.89;
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 4.5rem;
    margin-bottom: 0.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .section-title {
    font-size: 3.9375rem;
  }
}
.section-title--we-best {
  margin-bottom: 3.4375rem;
  color: #2f3234;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section-title--we-best {
    margin-bottom: 1.5625rem;
  }
}