@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

#content {
  height: 100%;
  min-height: 40.625rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

footer {
  position: relative;
  width: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  width: 100%;
  min-width: 300px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.section {
  height: 100%;
  position: relative;
}

@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lifehack";
  src: url("./../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("./../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gagalin";
  src: url("./../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("./../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container--welcome {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.container--we {
  padding-bottom: 12%;
}
@media screen and (max-width: 480px) {
  .container--we {
    padding-bottom: 7%;
  }
}
.container--delivery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container--footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .container--footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.container--burgers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container--burgers {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .container--burgers {
    width: 90%;
  }
}
.container--video {
  width: 41.25rem;
}
@media screen and (max-width: 768px) {
  .container--video {
    width: 95%;
  }
}

.header {
  width: 100%;
  padding-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-right: 0.9375rem;
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.9375rem;
}
.nav__item:first-child:before {
  display: none;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
}

.logo__icon {
  width: 5.75rem;
  height: 4.3125rem;
}

.welcome {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../img/bg/bg_welcome.png);
}

.welcome__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .welcome__content {
    -webkit-box-flex: 0.9;
        -ms-flex: 0.9;
            flex: 0.9;
    width: 62%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .welcome__content {
    width: 80%;
  }
}

.welcome__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
  margin-top: 4.375rem;
}
@media screen and (max-width: 768px) {
  .welcome__content-title {
    margin-top: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.welcome__desc {
  font-family: "lifehack", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.0625rem;
  line-height: 0.92;
  letter-spacing: -0.10125rem;
  color: #fff;
  margin-top: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .welcome__desc {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .welcome__desc {
    font-size: 3.125rem;
  }
}

.welcome__content-pic {
  margin-right: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .welcome__content-pic {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .welcome__content-pic, .welcome__content-title {
    width: 100%;
  }
}

.arrow {
  display: block;
}
.arrow--down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 1.25rem;
}
.arrow--left, .arrow--right {
  z-index: 10;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.arrow--left {
  left: -1.875rem;
}
@media screen and (max-width: 768px) {
  .arrow--left {
    left: -2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .arrow--left {
    left: 0;
  }
}
.arrow--right {
  right: -1.875rem;
}
@media screen and (max-width: 768px) {
  .arrow--right {
    right: -2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .arrow--right {
    right: 0;
  }
}

.arrow__icon {
  width: 1.6875rem;
  height: 0.9375rem;
}
.arrow__icon--left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.arrow__icon--right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.we-best {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../img/bg/bg_we.png);
}
@media screen and (max-width: 768px) {
  .we-best {
    background-image: url(./../../img/bg/bg_we_tablet.png);
  }
}

.we-best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 480px) {
  .we-best__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.we-best__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .we-best__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.875rem;
  }
}

.we-best__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5.9375rem;
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 480px) {
  .we-best__pic {
    min-width: 5.9375rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  .we-best__description {
    text-align: left;
    margin-left: 1.5625rem;
  }
}

.we-best__header {
  font-family: "lifehack", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  color: #2f3234;
  margin-bottom: 1.5625rem;
  letter-spacing: -0.0375rem;
  line-height: 1.17;
}
@media screen and (max-width: 480px) {
  .we-best__header {
    margin-bottom: 0.9375rem;
  }
}

.we-best__text {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.8;
  color: rgba(47, 50, 52, 0.8);
}

.btn {
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
}
.btn--header {
  background-color: #e45028;
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media screen and (max-width: 768px) {
  .btn--header {
    margin-right: 5.625rem;
  }
}
.btn--header:hover {
  background-color: #c1401e;
}
.btn--reviews {
  background-color: rgba(47, 50, 52, 0.8);
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn--reviews:hover {
  background-color: #2f3234;
}
.btn--order {
  background-color: #e45028;
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #fff;
}
.btn--order:hover {
  background-color: #c1401e;
}
.btn--slider {
  background-color: #e45028;
  font-size: 0.8125rem;
  color: #fff;
  font-weight: 500;
}
.btn--slider:hover {
  background-color: #c1401e;
}

.clear {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  margin-left: 0.3125rem;
}

.reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.reviews-item {
  width: 25%;
  height: 50%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews-item {
    width: 50%;
    height: 25%;
  }
}
@media screen and (max-width: 480px) {
  .reviews-item {
    width: 50%;
    height: 25%;
  }
}
.reviews-item:hover .rewiews-description {
  opacity: 1;
  z-index: 2;
}

.reviews-pic {
  width: 100%;
  height: 100%;
}

.reviews-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.rewiews-description {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(20, 20, 20, 0.7);
}
@media screen and (max-width: 768px) {
  .rewiews-description {
    text-align: center;
    padding: 8%;
  }
}
@media screen and (max-width: 480px) {
  .rewiews-description {
    padding: 10%;
  }
}

.reviews-title {
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 768px) {
  .reviews-title {
    font-size: 1rem;
    margin-bottom: 0.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews-title {
    font-size: 1.5rem;
  }
}

.reviews-text {
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.71;
}
@media screen and (max-width: 480px) {
  .reviews-text {
    display: none;
  }
}

.points {
  position: fixed;
  top: 5.625rem;
  right: 3.125rem;
}
@media screen and (max-width: 768px) {
  .points {
    display: none;
  }
}

.points-item {
  margin-bottom: 0.3125rem;
}

.points-link {
  display: block;
  width: 1rem;
  height: 1rem;
  position: relative;
}
.points-link:after, .points-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.points-link:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.points-link:after {
  border: 1px solid #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.points-link:hover:after {
  opacity: 1;
}

.points-item--active .points-link:after {
  opacity: 1;
}

.delivery {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../img/bg/bg_delivery.png);
  width: 100%;
  font-size: 0.875rem;
}

.form-wrapper {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .form-wrapper {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 375px) {
  .form-wrapper {
    margin-top: 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
@media screen and (max-width: 768px) {
  .form__column {
    margin-right: 0;
    margin-bottom: 1.25rem;
  }
}
.form__column:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 375px) {
  .form__row {
    margin-bottom: 0.9375rem;
  }
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__block-title {
  margin-bottom: 0.4375rem;
}

.form-field {
  font-weight: 300;
  color: #2f3234;
  width: 100%;
  background: #fff;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  outline: none;
  border: 2px solid #d1cfcb;
}
.form-field:focus {
  border: 2px solid #f9b43b;
}

.form__textarea {
  resize: none;
  outline: none;
  height: 7.375rem;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 480px) {
  .form__buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form__block-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
}

.radio__visible {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e35028;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.radio:checked + .radio__visible:before {
  opacity: 1;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.checkbox__visible {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  position: relative;
  margin-right: 0.625rem;
}
.checkbox__visible:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("./../img/icons/checkbox.png") center no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.checkbox:checked + .checkbox__visible:before {
  opacity: 1;
}

.form__row-btn {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section-title {
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.5rem;
  color: #f9b43b;
  line-height: 0.89;
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 4.5rem;
    margin-bottom: 0.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .section-title {
    font-size: 3.9375rem;
  }
}
.section-title--we-best {
  margin-bottom: 3.4375rem;
  color: #2f3234;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section-title--we-best {
    margin-bottom: 1.5625rem;
  }
}
.section-title--delivery {
  margin-bottom: 2.8125rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section-title--delivery {
    margin-bottom: 1.875rem;
    font-size: 3.125rem;
  }
}
.section-title--team {
  margin-bottom: 2.8125rem;
}
.section-title--menu {
  font-size: 4.5rem;
  color: #fff;
  position: absolute;
  top: 10%;
  left: 10%;
}
@media screen and (max-width: 768px) {
  .section-title--menu {
    top: 8%;
    left: 13%;
  }
}
.section-title--submenu {
  font-size: 2.5rem;
  color: #fff;
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: -2.5rem;
}
@media screen and (max-width: 480px) {
  .section-title--submenu {
    font-size: 2rem;
  }
}
.section-title--video {
  color: #2f3234;
  text-align: center;
  margin-bottom: 2rem;
}

.slider-title {
  color: #fff;
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 768px) {
  .slider-title {
    width: 100%;
    margin: 0 auto;
    font-size: 2.8125rem;
  }
}

.map {
  position: relative;
}

.map__container {
  height: 100%;
  width: 100%;
}

.footer {
  background: url("./../../img/bg/bg_footer.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  padding: 0.75rem 0;
  height: 3.75rem;
}
@media screen and (max-width: 480px) {
  .footer {
    height: 6.25rem;
    font-size: 0.75rem;
  }
}

.contacts-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .contacts-col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adress {
  font-weight: bold;
}

.phone {
  font-weight: bold;
}

.phone-frame {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.3125rem;
}

.phone-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e45028;
}

.socials__item {
  width: 1.3125rem;
  height: 1.3125rem;
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__pic {
  fill-opacity: 0.3;
  -webkit-transition: fill-opacity 0.3s;
  transition: fill-opacity 0.3s;
}
.socials__pic:hover {
  fill-opacity: 1;
}
.socials__pic--vk {
  width: 1.4375rem;
  height: 0.8125rem;
}
.socials__pic--fb {
  width: 1.25rem;
  height: 1.25rem;
}
.socials__pic--inst {
  width: 1.25rem;
  height: 1.25rem;
}
.socials__pic--twitter {
  width: 1.25rem;
  height: 1rem;
}

.hamburger-menu-icon {
  position: fixed;
  top: 2.1875rem;
  right: 1.875rem;
  width: 1.5625rem;
  height: 1.5625rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
}
@media screen and (max-width: 768px) {
  .hamburger-menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamburger-menu-icon__dash, .hamburger-menu-icon__dash:before, .hamburger-menu-icon__dash:after {
  width: 100%;
  height: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: #fff;
}
.hamburger-menu-icon__dash:before, .hamburger-menu-icon__dash:after {
  content: "";
  position: absolute;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.hamburger-menu-icon__dash:before {
  top: 0;
}
.hamburger-menu-icon__dash:after {
  bottom: 0;
}

.hamburger-menu-icon--active .hamburger-menu-icon__dash {
  height: 0;
}
.hamburger-menu-icon--active .hamburger-menu-icon__dash:before, .hamburger-menu-icon--active .hamburger-menu-icon__dash:after {
  background-color: #c1c2c2;
}
.hamburger-menu-icon--active .hamburger-menu-icon__dash:before {
  -webkit-transform: rotate(45deg) translate(3px, -1px);
          transform: rotate(45deg) translate(3px, -1px);
}
.hamburger-menu-icon--active .hamburger-menu-icon__dash:after {
  -webkit-transform: rotate(-45deg) translate(0px, -1px);
          transform: rotate(-45deg) translate(0px, -1px);
}

.hamburger-menu {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 50, 52, 0.99);
  position: fixed;
  z-index: 20;
}
.hamburger-menu--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hamburger-menu .nav {
  margin-right: 0;
}
.hamburger-menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hamburger-menu .nav__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hamburger-menu .nav__item:last-child {
  margin-bottom: 0;
}
.hamburger-menu .nav__item:before {
  margin: 1.25rem auto;
  width: 0.4375rem;
  height: 0.4375rem;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hamburger-menu .nav__link {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media screen and (max-width: 375px) {
  .hamburger-menu .nav__link {
    font-size: 1.25rem;
  }
}
.hamburger-menu .logo {
  position: absolute;
  top: 0.75rem;
  left: 1.1875rem;
}
@media screen and (max-width: 480px) {
  .hamburger-menu .logo {
    left: 0.75rem;
  }
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.slideInUp,
.slideInUp:before {
  -webkit-animation: slideInUp 0.5s;
          animation: slideInUp 0.5s;
}

.burgers {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background-image: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
}

.burgers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 8vw;
  padding-bottom: 8vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}
.burgers__column-left, .burgers__column-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .burgers__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5.625rem;
    padding-bottom: 0;
  }
}

.burgers__content-pic,
.burgers__content-desc {
  width: 50%;
  position: relative;
}

.burgers__content-pic {
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .burgers__content-pic {
    margin-right: 0rem;
    margin-bottom: 1.875rem;
    width: 100%;
    height: 32vh;
  }
}

@media screen and (max-width: 768px) {
  .burgers__content-desc {
    text-align: center;
    width: 100%;
  }
}

.burgers__structure {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 5.6875rem;
  height: 5.6875rem;
  border-radius: 0.3125rem;
  background-color: rgba(227, 80, 40, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
.burgers__structure--active {
  background-color: #e35028;
}
.burgers__structure--active .structure__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burgers__structure--active .structure__title {
  opacity: 1;
}

.structure__pic {
  width: 2.8125rem;
  height: 2.8125rem;
}

.structure__icon {
  max-width: 2.8125rem;
  max-height: 2.8125rem;
}

.structure__title {
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  margin-top: 0.625rem;
  opacity: 0.5;
}

.structure__dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 16.875rem;
  height: 20.625rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .structure__dropdown {
    width: 20rem;
  }
}
@media screen and (max-width: 375px) {
  .structure__dropdown {
    width: 16.5625rem;
  }
}

.structure__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .structure__list {
    padding-right: 25%;
  }
}

.structure__cross {
  position: absolute;
  top: 6%;
  right: 6%;
  width: 20px;
  height: 20px;
  z-index: 5;
}

.structure__cross--link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.structure__cross--link::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(227, 80, 40, 0.7);
  border-radius: 5px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(45deg) translate(3px, -1px);
          transform: rotate(45deg) translate(3px, -1px);
}
.structure__cross--link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(227, 80, 40, 0.7);
  border-radius: 5px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.structure__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2f3234;
}

.structure__name {
  font-weight: 500;
  margin-left: 1.875rem;
}

.structure__weight {
  margin-left: auto;
}

.food-value {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.75rem;
  height: 5rem;
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .food-value {
    bottom: initial;
    left: initial;
    top: 0;
    right: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .food-value {
    right: 0;
  }
}

.food-value__frame {
  background-image: url(./../img/svg/kkal.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 3.75rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10%;
  font-size: 1.25rem;
}

.content-desc__text {
  font-size: 0.875rem;
  margin-bottom: 2.1875rem;
}

.slider__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .slider__order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #e45028;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 1.875rem;
  line-height: 0.89;
}

.price__value {
  font-size: 4.5rem;
}

.price__currency {
  font-size: 1.875rem;
}

.team {
  background-image: url(./../img/bg/bg_team.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.team__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  padding: 8%;
  background-color: rgba(57, 59, 60, 0.93);
}
@media screen and (max-width: 768px) {
  .team__content {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .team__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.member {
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  margin-bottom: 2.1875rem;
  padding-left: 1.125rem;
  width: 100%;
}
.member--active .member__link {
  color: #f9b43b;
}
.member--active .member__link:before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.member--active .member__review {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .member--active .member__review {
    height: 188px;
  }
}
@media screen and (max-width: 768px) {
  .member {
    font-size: 1.125rem;
    width: 85%;
  }
}

.member__link {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.member__link:before {
  content: "";
  width: 0.5625rem;
  border-top: 0.4375rem solid #f9b43b;
  border-bottom: none;
  border-left: 0.4375rem solid transparent;
  border-right: 0.4375rem solid transparent;
  margin-right: 0.625rem;
}

.member__review {
  margin-top: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
@media screen and (max-width: 768px) {
  .member__review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.member__pic {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .member__pic {
    margin-right: 0rem;
  }
}

.member__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.member__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "ubuntu", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.member__position {
  font-size: 0.875rem;
  font-weight: bold;
}

.member__text {
  font-size: 0.875rem;
}

.menu {
  background-image: url(./../../img/bg/bg_menu.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.menu__accordeon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submenu__link {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .submenu__link {
    width: 3.75rem;
  }
}
@media screen and (max-width: 480px) {
  .submenu__link {
    width: 2.5rem;
  }
}

.submenu__link--meat {
  background-image: url(./../img/bg/bg_menu_item1.png);
}

.submenu__link--veg {
  background-image: url(./../img/bg/bg_menu_item2.png);
}

.submenu__link--diet {
  background-image: url(./../img/bg/bg_menu_item3.png);
}

.submenu__block {
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.submenu__desc {
  line-height: 2;
  background-color: rgba(56, 60, 62, 0.93);
  height: 100%;
  overflow: hidden;
  padding: 7% 6%;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media screen and (max-width: 480px) {
  .submenu__desc {
    font-size: 0.75rem;
  }
}

.submenu--active .submenu__title {
  color: #f9b43b;
}
.submenu--active .submenu__desc {
  color: white;
}

.modal {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 50, 52, 0.99);
  position: fixed;
  z-index: 30;
}
.modal--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__inner {
  border-radius: 0.3125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  color: #2f3234;
}
.modal__inner--review {
  width: 28.125rem;
  padding: 1.875rem 1.25rem;
}
@media screen and (max-width: 768px) {
  .modal__inner--review {
    width: 58%;
  }
}
@media screen and (max-width: 480px) {
  .modal__inner--review {
    width: 96%;
  }
}
.modal__inner--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
  font-size: 0.875rem;
}

.modal-review__title {
  font-family: "gagalin", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.modal-review__content {
  line-height: 1.71;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  text-align: justify;
}
.modal-review__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-image: url("./../../img/svg/close.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0px;
  background: url("./../../img/svg/arrow-scroll.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.6875rem;
  height: 0.9375rem;
  z-index: 10;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -1.25rem;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: -1.25rem;
}

/* Стрелка не активная */
.video {
  background-image: url("./../img/bg/bg_work.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.video-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.video-player__frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#player {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-player__toolbar {
  background-color: #2f3234;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 15px;
}
.duration__length {
  width: 100%;
}
.duration__play {
  margin-right: 5px;
  cursor: pointer;
}

.volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 15px;
}
.volume__mute {
  margin-right: 5px;
  cursor: pointer;
}

.duration__length,
.volume__range {
  height: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #626262;
}
.duration__length::-webkit-slider-thumb,
.volume__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #626262;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
}

.video-player__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.video-player__play--active {
  opacity: 0;
}

.submenu--active .submenu__block {
  width: 550px;
}
@media screen and (max-width: 480px) {
  .submenu--active .submenu__block {
    width: 360px;
  }
}

