.arrow-scroll {
  @include centered('x');
  bottom: 40px;
  display: block;
  width: rem(29px);
  height: rem(14px);
  margin: 0 auto;
  background: url(./../img/icons/arrow_scroll.png) center / cover no-repeat;
} 