.burger-menu {
  position: fixed;
  top: 35px;
  right: 30px;
  width: rem(25px);
  height: rem(25px);
  display: none;
  align-items: center;
  @include tablets {
    display: flex;
  }
}

.burger-menu-dash {

  &,
  &:before,
  &:after {
    width: 100%;
    height: rem(5px);
    border-radius: rem(5px);
    background-color: $white;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    transition: .3s;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}