.container {
  width: 95%;
  max-width: rem(940px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &.container--welcome {
    justify-content: flex-start;
    position: relative;
    padding-bottom: 5%;
  }

  &.container--we {
    padding-bottom: 12%;
    @include phones {
      padding-bottom: 7%;
    }
  }

  &.container--delivery {
    align-items: center;
  }

  &.container--footer {
    flex-direction: row;
    justify-content: space-between;
    @include phones {
      flex-direction: column;
      align-items: center;
    } 
  }
  &.container--burgers{
    flex-direction: row;
    align-items: center;
    position: relative;
    @include tablets {
      width: 70%;
    }
  
    @include phones {
      width: 95%;
    }
  }
}
