.container {
  width: 95%;
  max-width: rem(940px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &.container--welcome {
    justify-content: flex-start;
    padding-bottom: 5%;
  }

  &.container--we {
    padding-bottom: 12%;
    @include phones {
      padding-bottom: 7%;
    }
  }

  &.container--delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}