.footer {
  background: url('./../../img/bg/bg_footer.png');
  @include bgcover();
  position: absolute;
  bottom: 0;
  padding: rem(12px) 0;
  height: rem(60px);
  @include phones {
    height: rem(100px);
    font-size: rem(12px);
  }
}

.contacts-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include phones {
    align-items: center;
    text-align: center;
  }
}

.contacts-row {
  display: flex;
  align-items: center;
}

.adress {
  font-weight: bold;
  //@include ubuntu(bold);
}

.phone {
  font-weight: bold;
}

.phone-frame {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(5px);
}

.phone-value {
  display: flex;
  align-items: center;
  color: $orange;
}

.socials__item {
  width: rem(21px);
  height: rem(21px);
  margin-right: rem(20px);
  display: flex;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
}

.socials__pic {
  fill-opacity: .3;
  transition: fill-opacity .3s;
  &:hover {
    fill-opacity: 1;
  }
  &--vk {
    width: rem(23px);
    height: rem(13px);
  }
  &--fb {
    width: rem(20px);
    height: rem(20px);
  }
  &--inst {
    width: rem(20px);
    height: rem(20px);
  }
  &--twitter {
    width: rem(20px);
    height: rem(16px);
  }
}