.modal {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($dark-grey, .99);
  position: fixed;
  z-index: 30;

  &--active {
    display: flex;
    // justify-content: center;
    // align-items: center;
  }
}

.modal__inner {
  border-radius: rem(5px);
  @include centered();
  background-color: $white;
  color: #2f3234;

  &--review {
    width: rem(450px);
    padding: rem(30px) rem(20px);

    @include tablets {
      width: 58%;
    }

    @include phones {
      width: 96%;
    }
  }
}

.modal-review {
  &__title {
    @include gagalin();
  }

  &__content {
    line-height: 1.71;
    margin-top: rem(20px);
    font-size: rem(14px);
    text-align: justify;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    background-image: url("./../../img/svg/close.svg");
    @include bgcover;
  }
}