.section-title {
  @include gagalin();
  font-size: rem(72px);
  color: $yellow;
  line-height: 0.89;

  @include tablets {
    font-size: rem(72px);
    margin-bottom: rem(15px);
  }

  @include phones {
    font-size: rem(63px);
  }

  &--we-best {
    margin-bottom: rem(55px);
    color: $dark-grey;
    text-align: center;
    @include phones {
      margin-bottom: rem(25px);
    }
  }
  &--delivery {
    margin-bottom: rem(45px);
    text-align: center;
    @include phones {
      margin-bottom: rem(30px);
      font-size: rem(50px);
    }
  }
}