.section-title {
  @include gagalin();
  font-size: rem(72px);
  color: $yellow;
  line-height: 0.89;

  @include tablets {
    font-size: rem(72px);
    margin-bottom: rem(15px);
  }

  @include phones {
    font-size: rem(63px);
  }

  &--we-best {
    color: $dark-grey;
    text-align: center;
  }
}