.section-title {
  @include gagalin();
  font-size: rem(72px);
  color: $yellow;
  line-height: 0.89;

  @include tablets {
    font-size: rem(72px);
    margin-bottom: rem(15px);
  }

  @include phones {
    font-size: rem(63px);
  }

  &--we-best {
    margin-bottom: rem(55px);
    color: $dark-grey;
    text-align: center;
    @include phones {
      margin-bottom: rem(25px);
    }
  }
  &--delivery {
    
    margin-bottom: rem(45px);
    text-align: center;
    @include phones {
      margin-bottom: rem(30px);
      font-size: rem(50px);
    }
  }
  &--team{
    margin-bottom: rem(45px);
  }
  &--menu{
    font-size: rem(72px);
    color: $white;
    position: absolute;
    top: 10%;
    left: 10%;
    @include tablets {
      top: 8%;
      left: 13%;
    }
  }
  &--submenu {
    font-size: rem(40px);
    color: $white;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    margin-top: rem(-40px);
    @include phones {
      font-size: rem(32px);
    }
  }
  &--video {
    color: $dark-grey;
    text-align: center;
    margin-bottom: rem(32px);
  }

}

.slider-title {
  color: $white;
  margin-bottom: rem(50px);
  @include tablets {
    width: 100%;
    margin: 0 auto;
    font-size: rem(45px);
  }
}