.points {
  position: fixed;
  top : rem(90px);
  right: rem(50px);
  @include tablets {
    display: none;
  }
}

.points-item {
  margin-bottom: rem(5px);
}

.points-link {
  display: block;
  width: rem(16px);
  height: rem(16px);
  position: relative;
  &:after, &:before {
    content: '';
    display: block;
    @include centered();
  }
  &:before {
    @include circle(5px, $white);
  }
  &:after {
    border: 1px solid $white;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.points-item--active {
  .points-link:after {
    opacity: 1;
  }
}