.video {
  background-image: url("./../img/bg/bg_work.png");
  @include bgcover;
}

.video-player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.video-player__frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-player__toolbar {
  background-color: $dark-grey;
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: center;
}

.duration {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;

  &__length {
    width: 100%;
  }

  &__play {
    margin-right: 5px;
    cursor: pointer;
  }
}

.volume {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;

  &__mute {
    margin-right: 5px;
    cursor: pointer;
  }
}

.duration__length,
.volume__range {
  height: 4px;
  appearance: none;
  background-color: #626262;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #626262;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.video-player__play {
  @include centered();
  cursor: pointer;
  &--active {
    opacity: 0;
  }
}