.welcome{
  @include bgcover();
  background-image: url(./../img/bg/bg_welcome.png);
}

.welcome__content {
  position: relative;
  display: flex;
  flex: 0.8;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
}

.welcome__content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  margin-top: rem(70px);
}

.welcome__desc {
  @include lifehack();
  color: $white;
  font-size: rem(65px);
  margin-top: rem(15px);
}

.welcome__content-pic {
  margin-right: rem(15px);
}

.container--welcome {
  justify-content: flex-start;
}